#subjects.transitions-enabled
  - @subjects.each do |subject|
    .box.panel.panel-default
      = link_to (image_tag subject.image.url), subject
      .panel-body
        %h2= link_to subject.name, subject
